<h1>About Us</h1>
<div>
  <p>Lorem ipsum dolor sit amet, consect Lorem ipsum dolor sit ametNulla incididunt sint est 
  ut eu proident exercitation. Velit sint est duis qui dolore nulla anim minim nisi consequat. 
  Lorem veniam consectetur pariatur eu et excepteur minim duis labore nisi nulla eiusmod 
  cupidatat. Nulla dolor magna consequat reprehenderit mollit minim voluptate.
  </p>
  <br>
  <p>Lorem ipsum dolor sit amet, consect Lorem ipsum dolor sit ametNulla incididunt sint est 
  ut eu proident exercitation. Velit sint est duis qui dolore nulla anim minim nisi consequat. 
  Lorem veniam consectetur pariatur eu et excepteur minim duis labore nisi nulla eiusmod 
  cupidatat. Nulla dolor magna consequat reprehenderit mollit minim voluptate.Deserunt 
  nulla aute et culpa officia duis est dolore cupidatat ex et enim nulla cupidatat. Anim 
  consectetur non ullamco sit dolore. Mollit minim ipsum cillum anim. Ad cillum qui excepteur 
  incididunt occaecat. Ipsum cillum esse reprehenderit amet anim commodo nulla consectetur 
  Lorem veniam id anim aliqua. Non ea eiusmod elit sit aliqua non sunt exercitation. Anim ut 
  irure sunt adipisicing nulla est culpa proident ex mollit elit aliquip velit et.
  </p>
</div>

<h5><%= link_to 'Back', :root %></h5>